
  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: gray;
  }
  header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    font-size: 2vw;
  }
  section{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: 'Satisfy', cursive;
    font-size: 5vw;
  }
  .normal{
    background-color: white;
  }
  .ft{
    background-attachment: fixed; 
  }
  .ft>p{
    background-color: rgba(0, 0, 0, 0.491);
    display: inline-block;
    padding: 10px;
    color: white;

  }
  #ft1{
background-image: url(imagens/background001.jpg);
background-position: right,center;
background-size: cover;
  }
  #ft2{
background-image: url(imagens/background002.jpg);
background-position: right,center;
background-size: cover;
  }